body {
  font-size: 100%;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.row h2 {
  width: 10%;
  float: left;
  margin-right: 5%;
  display:block;
}

